<div class="col-md-12" *ngIf="!isAuthenticated">

    <h3 class="mt-2 mb-2">{{title}}</h3>

    <form class="col-md-10 ml-0 pl-0" #loginForm='ngForm' (ngSubmit)="onSubmit(loginForm)">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Ingresa tu email">
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">Email invalido</small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required placeholder="Contraseña">
        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block" class="invalid-feedback d-block">Contraseña invalida</small>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Enviar</button>
    </form>
</div>
